<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              ISKCON V2.0

              <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Hare krishna</strong>
                             </span> </span> </a>
          </div>
          <div class="logo-element">
            ISKCON V2.0
          </div>
        </li>
        <li >
          <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Address System</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li><a routerLink="/userAddressDetail">Save User Detail</a></li>
            <li><a routerLink="/viewUserAddress">View user Details</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>


