<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Select Location</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-5">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Select country <small>http://harvesthq.github.io/chosen/</small></h5>
        </div>
        <div class="ibox-content">
          <p>
            With chosen select uesr can fase chose from large in select input.
          </p>
          <div class="form-group">
            <label class="font-normal">Basic example</label>
            <div>
              <select name="country" data-placeholder="Choose a Country..." class="chosen-select countries"  tabindex="2" id="countryId">
                <option value="">Select Country</option>
              </select>
            </div>
            <div>
              <select name="state" data-placeholder="Choose a State..." class="chosen-select states"  tabindex="2" id="stateId">
                <option value="">Select State</option>
              </select>
            </div>
            <div>
              <select name="city" data-placeholder="Choose a City..." class="chosen-select cities"  tabindex="2" id="cityId">
                <option value="">Select City</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
