

<header style="background-color: yellow;font-size:200%;font-weight: bolder ">
  <div class="text-center">
    <div id="yatraheader">
      Iskcon Ghaziabad Rath Yatra Live Tracking<br>
      Please Wait We are Tracking The Location Of Yatra
    </div>
    <div>
      <marquee behavior="" direction=""> Hare Krishna Hare Krishna Krishna krishna Hare Hare Hare Rama Hare Rama Rama Rama Hare Hare </marquee>
    </div>
  </div>
</header>
<div style="width:120%; height:500px">
  <div id="map" style="width: 80%; height: 500px"></div>
</div>

<!--<div id="map"></div>-->
<div class="text-center">
  <div id="demo"></div>
  <b>Current Address Of Rath Yatra : &nbsp;<div id="addr" class="center-block"></div></b>
  <div id="distance"></div>
  <div style="background-color: yellow;" id="viewongoogle"></div>
</div>

